.banner3{
    display: flex;
    flex-wrap: wrap;
    align-items: center; 
    text-align: center;
    justify-content: space-evenly;

    max-width: 1280px;//container
    margin: auto; //center

    padding-top: 100px;
    padding-bottom: 100px;

    h2{text-align: left; font-size: 30rem;}
    p{text-align: left; max-width: 400px;}
    img{max-width: 100px;}
}
    