:root {
  --alpha: #2047f4;
  --beta: #ffd392;
  --gamma: #232722;
  --delta: #f7f6f6;
  --alert: #e5e1e1;
  --contrast: red;
  --elements: #7dcfe7;            
  --light: #e5e5e5;

  --skills: #e1e1e1;  //not used
}